
body{
	background-color: #282828;
}
.calc{
	width:279px;
	height:460px;
	margin:0 auto;
	border:1px solid blue;
	background-color: #f0f0f0;
}
.calc-display{
	background-color:#626471;
	height:100px;
	color:#fefcf9;
	font-size:30px;
	margin-bottom: 20px;
  line-height: 93px;
  padding-left: 10px;
}
.calc-func-button button{
	width: 87px;
	height: 30px;
	border: 1px solid #dadadc;
	border-radius: 10px;
	margin: 0px 0 10px 5px;
}
.calc-digit-button{
	float:left;
	width:219px;
}
.calc-digit-button button{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border:1px solid #dadadc;
	margin: 0 10px 20px 11px;
}
.calc-operation-button {
	float:right;
	margin-right:10px;
}
.calc-operation-button button{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border:1px solid #dadadc;
	display: block;
	margin-bottom: 20px;
	background-color: #e2e2e2;
}
.operation-button-equally{
	background-color: #f0830e;
}
